@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application allows you to search our users by name.</p>
    <a href="/Search" class="btn btn-outline-secondary">Start Searching</a>
</div>
